# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- PYTHON / BACKEND ---
# Regla principal para la carpeta de entorno virtual
backend/venv/
front/node_modules
# Regla para venv si se crea en el root
venv/

# Archivos de caché
__pycache__/
*.pyc

# Archivos binarios que a veces se rastrean
*.dll
*.bin
*.so

# Entornos
.env
backend/.env
front/.env


node_modules/
front/node_modules/
backend/node_modules

backend/.env